<mat-toolbar color="primary">
    <button mat-icon-button>
        <mat-icon>rotate_left</mat-icon>
    </button>

    <span class="spacer-flex"></span>

    <button mat-icon-button (click)="onLoadFilePressed()">
        <mat-icon>file_upload</mat-icon>
    </button>

    <button mat-icon-button (click)="onSavePressed()">
        <mat-icon>save</mat-icon>
    </button>
</mat-toolbar>

<m3d-loader #m3dloader [width]="300" [height]="300" [interaction]="true"></m3d-loader>

<input #fileloader type="file" (change)="onFileAvailable($event)" hidden>