<div style="display:flex; align-items: center; justify-content: center;">
    <audio #player (click)="onViewerClicked()" (dragenter)="onAudioDragEnter($event)"
           (dragleave)="onAudioDragExit($event)" (dragover)="onAudioDragOver($event)"
           (drop)="onAudioDropped($event)" class="preview"
           controls></audio>
    <button (click)="onViewerClicked()" mat-icon-button matTooltip="Click to change audio clip...">
        <mat-icon>more_horiz</mat-icon>
    </button>
</div>
<div style="display:flex; align-items: center; justify-content: center;">
    <mat-icon class="muted" matTooltip="Audio fingerprinting">fingerprint</mat-icon>
    <div class="toolbar-spacer-small"></div>
    <mat-slider (change)="onSliderChanged($event)" [(ngModel)]="sliderSetting" max="4" min="0" step="1"
                value="1"></mat-slider>
    <div class="toolbar-spacer-small"></div>
    <mat-icon class="muted" matTooltip="Query-by-Humming">record_voice_over</mat-icon>
</div>
