<div style="text-align:center;">

    <div [style.margin-bottom]="'15px'">
        <button mat-raised-button style="width:100%" (click)="onSearchClicked()" [color]="'accent'"><mat-icon>search</mat-icon>Search</button>
    </div>

    <div  [style.margin-bottom]="'15px'">
        <button mat-raised-button style="width:100%" (click)="onClearAllClicked()" [color]="'warn'"><mat-icon>clear</mat-icon>Clear all</button>
    </div>

    <query-container *ngFor="let container of containers" [containerModel]=container [inList]="containers"></query-container>

    <button mat-fab (click)="addQueryTermContainer()" matTooltip="Add query container"><mat-icon>add</mat-icon></button>
</div>