<div [style.padding-left]="'10px'" [style.text-align]="'left'">
    <mat-form-field class="textinput">
        <input [formControl]="_field.formControl" [matAutocomplete]="auto" aria-label="Enter a tag"
               matInput
               placeholder="Enter a tag">
        <mat-autocomplete [panelWidth]="450" #auto="matAutocomplete" (optionSelected)="onTagSelected($event)">
            <mat-option *ngFor="let tag of _field.filteredTags | async" [value]="tag">
                <small>{{tag.name}}: {{tag.description}}</small>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-chip-list>
        <div class="container">
        <mat-chip class="dropdown" (removed)="removeTag(tag)" *ngFor="let tag of _tags" [removable]="true"
                  [selectable]="true"
                  id="{{tag.id}}">
            {{tag.name}}&nbsp;<small>({{tag.id}})</small>
            <mat-icon matChipRemove matTooltip="Remove tag from list">cancel</mat-icon>
            <button *ngIf="config.config.get('query.enableTagPrioritisation')" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon *ngIf="tag.priority == null">menu</mat-icon>
                <mat-icon *ngIf="tag.priority == 'REQUIRE'" class="require-icon">warning_amber</mat-icon>
                <mat-icon *ngIf="tag.priority == 'REQUEST'" class="request-icon">check_circle_outline</mat-icon>
                <mat-icon *ngIf="tag.priority == 'EXCLUDE'" class="exclude-icon">not_interested</mat-icon>
            </button>
            <mat-menu *ngIf="config.config.get('query.enableTagPrioritisation')" #menu="matMenu" [overlapTrigger]="false">
            <span *ngIf="config.config.get('query.enableTagPrioritisation')">
                <mat-button-toggle-group>
                    <mat-button-toggle (change)="onPreferenceChange(Preference.MUST, tag)" value="must" class="require-icon">
                        <mat-icon>warning_amber</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle (change)="onPreferenceChange(Preference.COULD, tag)" value="could" class="request-icon">
                        <mat-icon>check_circle_outline</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle (change)="onPreferenceChange(Preference.NOT, tag)" value="not" class="exclude-icon">
                        <mat-icon>not_interested</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </span>
            </mat-menu>
        </mat-chip>
        </div>
    </mat-chip-list>
</div>
