.bar {
    position: sticky;
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 9999;

    /* Flex bar. */
    display:flex;
    align-items: center;
}

.content {
    margin-top: 45px;
}

.tile {
    width: 250px;
    height: 250px;
    margin-bottom: 25px;
    box-shadow: 0.15em 0.15em 0.05em 0 rgba(0, 0, 0, 0.4); /* The top layer shadow */
    position: relative;
}

.tile .tile-header {
    top:0;
    left: 0;
    right: 0;
    height: 50px;
    padding: 10px;
    position: absolute;
    z-index: 100;
    background-color: black;
    opacity: 0.65;
    color: white;
}

.tile .tile-body {
    width: 100%;
    height: 100%;
}

.tile .tile-footer {
    top: 200px;
    left: 0;
    right: 0;
    height: 50px;
    padding: 5px;
    position: absolute;
    z-index: 100;
    background-color: black;
    opacity: 0.65;
    color: white;
}

div.filename {
    max-width:80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

div.filename-rateable {
    font-style: italic;
    max-width:80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.score {
    max-width:80px;
    font-size:11px;
}

div.score p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

div.score md-icon {
    font-size:8px;
    width:10px;
    height:10px;
}