<h3>DRES Information</h3>

<mat-list dense>
  <div *ngIf="config | DresEnabledPipe">
    <mat-list-item><span [matBadge]="dresStatusBadge" matBadgeOverlap="false">Endpoint: {{(config|GetConfigVariablePipe:dresAddress)}}</span></mat-list-item>
    <mat-divider></mat-divider>
    <ng-container *ngIf="dresStatus">
      <h3 matSubheader>User Information</h3>
      <mat-list-item>Username: {{dresStatus.username}}</mat-list-item>
      <mat-list-item>Role: {{dresStatus.role}}</mat-list-item>
      <mat-divider></mat-divider>
      <h3 matSubheader>Session Information</h3>
      <mat-list-item>SessionID: {{dresStatus === null ? '' : dresStatus.sessionId}}</mat-list-item>
      <mat-list-item>ID: {{dresStatus.id}}</mat-list-item>
    </ng-container>

    <ng-container *ngIf="dresStatus === null">
      <mat-divider></mat-divider>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Dres Username</mat-label>
          <input matInput #username placeholder="Username" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Dres Password</mat-label>
          <input matInput #userpassword  placeholder="Password" value="" type="password">
        </mat-form-field>
        <button mat-button color="primary" (click)="login(username.value, userpassword.value)">Login</button>
      </form>
    </ng-container>


    <mat-divider></mat-divider>
  </div>
</mat-list>



