<div [style.padding-left]="'10px'" [style.text-align]="'left'">
  <h5 [style.margin-bottom]="'1em'" [style.margin-top]="'0'">Categories:</h5>
  <section class="options">
    <mat-checkbox (change)="onCheckboxChange($event)" *ngFor="let category of categories"
                  [value]="category[0]">{{category[1]}}</mat-checkbox>
  </section>

  <br/>

  <mat-form-field class="textinput">
    <input [(ngModel)]="inputValue" matInput placeholder="Search text">
  </mat-form-field>
</div>
<hr *ngIf="hasSuccessor" _ngcontent-c25="" class="fade"
    style="margin-bottom: 20px; margin-top: 10px;">
