<div [style.padding-left]="'10px'" [style.text-align]="'left'">
<!--  <h5 [style.margin-bottom]="'1em'" [style.margin-top]="'0'">Categories:</h5>-->
<!--  <section class="options">-->
<!--    <mat-checkbox (change)="onCheckboxChange($event)" *ngFor="let category of categories"-->
<!--                  [value]="category[0]" [checked]="isChecked(category)">{{category[1]}}</mat-checkbox>-->
<!--  </section>-->
<!--  <br/>-->
  <mat-form-field class="textinput">
    <mat-label>{{textTerm.categoryName}}</mat-label>
    <input [(ngModel)]="inputValue" matInput type="text" placeholder="Search text">
  </mat-form-field>
</div>
