::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active {
  min-width: 0 !important;
  padding: 10px !important;
  margin: 10px !important;
}

.mat-list-base[dense] .mat-list-item, .mat-list-base[dense] .mat-list-option {
  display: block;
  height: 20px;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  padding: 0;
  position: relative;
}

.mat-list-custom {
  font: 400 16px/28px Roboto, "Helvetica Neue", sans-serif;
  margin: 8px 0 5px;
}


.greene-icon {
  color: limegreen;
}

.yellow-icon {
  color: orange;
}

.red-icon {
  color: red;
}

.grey-icon {
  color: grey;
  transform: scale(0.7);
}
