<h3>Temporal parameters</h3>

<mat-list dense>

  <h2 mat-subheader>Temporal mode</h2>

  <mat-form-field  fxLayoutAlign="center">
    <mat-select [(value)]="mode" (selectionChange)="onModeChanged()">
      <mat-option [value]="'SEQUENTIAL'" matTooltip="Sequential temporal scoring">sequential</mat-option>
      <mat-option [value]="'TEMPORAL_DISTANCE'" matTooltip="Time distance temporal scoring">temporal distance</mat-option>
    </mat-select>
  </mat-form-field>

  <h2 mat-subheader>Max sequence length</h2>

  <mat-form-field  fxLayoutAlign="center">
    <input matInput type="number" value="30" [(ngModel)]="maxLength" style="text-align: right" matTooltip="Set the maximal length of a temporal sequence">
    <span matSuffix>sec.</span>
  </mat-form-field>

</mat-list>
