<h3 *ngIf="qsList.length>1">Stage {{qsList | QueryStageIndexPipe: queryStage}}:</h3>
<mat-divider *ngIf="qsList.length>1">style="padding-bottom:10px"></mat-divider>
<app-query-component *ngFor="let qt of queryStage.terms" [queryTerm]="qt" [firstStage]="qsList.indexOf(queryStage)==0"
                     [lastStage]="qsList | QueryStageLast: queryStage"
                     [lastInStage]="queryStage.terms.indexOf(qt)==queryStage.terms.length-1"
                     (stageChange)="onStageChange($event, qt)"></app-query-component>
