/* This is a hack to remove this super annoying margin.
the .mat-card-header-text is automatically added and I don't know how to prevent this.
 */
:host /deep/ .mat-card-header-text {
  margin: 0!important;
  width:100%!important;
}

.temporal-modifiers {
  max-width: 100%;
}

.right-corner {
  position: absolute;
  top: -10px;
  right: -10px;
  float:right;
}

.temporal-arrow {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
