<mat-card class="mat-elevation-z8" draggable="true" style="margin:10px;padding:10px;">
  <button (click)="onRemoveButtonClicked()" mat-icon-button class="icon-button right-corner" matTooltip="Remove query container">
    <mat-icon>close</mat-icon>
  </button>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title *ngIf="isNotFirst">
        <button (click)="moveQueryContainerUp()" class="icon-button" matTooltip="Temporally earlier...">
          <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
      </mat-card-title>
      <mat-card-subtitle>
        <div fxLayout="row" fxLayoutGap="15px" style="width:90%;">
          <button (click)="onToggleButtonClicked('IMAGE')" *ngIf="(config|async).get('query.options.image')"
                  class="icon-button" matTooltip="Toggle image query term">
            <mat-icon
                [attr.class]="containerModel.hasTerm('IMAGE') ? 'material-icons md-primary-250' : 'material-icons md-primary-100'">
              panorama
            </mat-icon>
          </button>

          <button (click)="onToggleButtonClicked('AUDIO')" *ngIf="(config|async).get('query.options.audio')"
                  class="icon-button" matTooltip="Toggle audio query term">
            <mat-icon
                [attr.class]="containerModel.hasTerm('AUDIO') ? 'material-icons md-primary-250' : 'material-icons md-primary-100'">
              audiotrack
            </mat-icon>
          </button>

          <button (click)="onToggleButtonClicked('MODEL3D')" *ngIf="(config|async).get('query.options.model3d')"
                  class="icon-button" matTooltip="Toggle 3D query term">
            <mat-icon
                [attr.class]="containerModel.hasTerm('MODEL3D') ? 'material-icons md-primary-250' : 'material-icons md-primary-100'">
              3d_rotation
            </mat-icon>
          </button>

          <button (click)="onToggleButtonClicked('MOTION')" *ngIf="(config|async).get('query.options.motion')"
                  class="icon-button" matTooltip="Toggle motion query term">
            <mat-icon
                [attr.class]="containerModel.hasTerm('MOTION') ? 'material-icons md-primary-250' : 'material-icons md-primary-100'">
              directions_run
            </mat-icon>
          </button>

          <button (click)="onToggleButtonClicked('TEXT')" *ngIf="(config|async).get('query.options.text')"
                  class="icon-button" matTooltip="Toggle text query term">
            <mat-icon
                [attr.class]="containerModel.hasTerm('TEXT') ? 'material-icons md-primary-250' : 'material-icons md-primary-100'">
              text_fields
            </mat-icon>
          </button>

          <button (click)="onToggleButtonClicked('TAG')" *ngIf="(config|async).get('query.options.tag')"
                  class="icon-button" matTooltip="Toggle tag query term">
            <mat-icon
                [attr.class]="containerModel.hasTerm('TAG') ? 'material-icons md-primary-250' : 'material-icons md-primary-100'">
              label
            </mat-icon>
          </button>

          <button (click)="onToggleButtonClicked('SEMANTIC')" *ngIf="(config|async).get('query.options.semantic')"
                  class="icon-button" matTooltip="Toggle semantic sketch query term">
            <mat-icon
                [attr.class]="containerModel.hasTerm('SEMANTIC') ? 'material-icons md-primary-250' : 'material-icons md-primary-100'">
              toys
            </mat-icon>
          </button>

          <button (click)="onToggleButtonClicked('BOOLEAN')" *ngIf="(config|async).get('query.options.boolean')"
                  class="icon-button" matTooltip="Toggle boolean query term">
            <mat-icon
                [attr.class]="containerModel.hasTerm('BOOLEAN') ? 'material-icons md-primary-250' : 'material-icons md-primary-100'">
              code
            </mat-icon>
          </button>
        </div>
        <div style="width:10%;">

        </div>
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content style="padding-top:10px;">
    <qt-image *ngIf="containerModel.hasTerm('IMAGE')" [imageTerm]="containerModel.getTerm('IMAGE')"></qt-image>
    <hr *ngIf="containerModel.hasTerm('AUDIO')" _ngcontent-c25="" class="fade"
        style="margin-bottom: 20px; margin-top: 10px;">
    <qt-audio *ngIf="containerModel.hasTerm('AUDIO')" [audioTerm]="containerModel.getTerm('AUDIO')"></qt-audio>
    <hr *ngIf="containerModel.hasTerm('MODEL3D')" _ngcontent-c25="" class="fade"
        style="margin-bottom: 20px; margin-top: 10px;">
    <qt-m3d *ngIf="containerModel.hasTerm('MODEL3D')" [m3dTerm]="containerModel.getTerm('MODEL3D')"></qt-m3d>
    <hr *ngIf="containerModel.hasTerm('MOTION')" _ngcontent-c25="" class="fade"
        style="margin-bottom: 20px; margin-top: 10px;">
    <qt-motion *ngIf="containerModel.hasTerm('MOTION')" [motionTerm]="containerModel.getTerm('MOTION')"></qt-motion>
    <hr *ngIf="containerModel.hasTerm('TEXT')" _ngcontent-c25="" class="fade"
        style="margin-bottom: 20px; margin-top: 10px;">
    <qt-text *ngIf="containerModel.hasTerm('TEXT')" [textTerm]="containerModel.getTerm('TEXT')"></qt-text>
    <hr *ngIf="containerModel.hasTerm('TAG')" _ngcontent-c25="" class="fade"
        style="margin-bottom: 20px; margin-top: 10px;">
    <qt-tag *ngIf="containerModel.hasTerm('TAG')" [tagTerm]="containerModel.getTerm('TAG')"></qt-tag>
    <hr *ngIf="containerModel.hasTerm('SEMANTIC')" _ngcontent-c25="" class="fade"
        style="margin-bottom: 20px; margin-top: 10px;">
    <qt-semantic *ngIf="containerModel.hasTerm('SEMANTIC')"
                 [semanticTerm]="containerModel.getTerm('SEMANTIC')"></qt-semantic>
    <hr *ngIf="containerModel.hasTerm('BOOLEAN')" _ngcontent-c25="" class="fade"
        style="margin-bottom: 20px; margin-top: 10px;">
    <app-qt-bool *ngIf="containerModel.hasTerm('BOOLEAN')" [boolTerm]="containerModel.getTerm('BOOLEAN')"></app-qt-bool>
  </mat-card-content>
  <mat-card-footer *ngIf="isNotLast">
  <mat-divider></mat-divider>
    <button (click)="moveQueryContainerDown()" class="icon-button" matTooltip="Temporally later...">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </mat-card-footer>
</mat-card>
