.objectPathContainer {
  border: 1px solid black;

  padding: 4px;
  margin-bottom: 10px;

  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  grid-template-rows: repeat(auto-fill, 110px);
  grid-auto-flow: row;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
}

.scoredPath {
  width: 100%;
  border: 1px solid #808080;
  padding: 4px;
  margin-bottom: 10px;
  /*
      display: grid;
      grid-template-columns: repeat(auto-fill,120px);
      grid-template-rows: repeat(auto-fill,110px);
      grid-auto-flow: row;
      grid-row-gap: 5px;
      grid-column-gap: 5px;*/
}

.segment {
  width: 120px;
  height: 110px;
  position: relative;
}

.segment.marked {
  box-shadow: 4px 4px 2px grey;
}

.segment img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.segment .header {
  position: absolute;
  top: 0;
  height: 25px;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: black;
  opacity: 0.65;
  color: white;
}

.segment .footer {
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  height: 25px;
  z-index: 100;
  background-color: black;
  opacity: 0.65;
  color: white;
}

/* Styles the button in the tile footer. */

.header > button {
  max-height: 20px !important;
  max-width: 20px !important;
  line-height: 0 !important;
}

.header .mat-icon {
  max-height: 18px;
  max-width: 18px;
}

.header .material-icons {
  font-size: 16px !important;
}

/* Styles the button in the tile footer. */
.footer > button {
  max-height: 20px !important;
  max-width: 20px !important;
  line-height: 0 !important;
}

.footer .mat-icon {
  max-height: 18px;
  max-width: 18px;
}

.footer .material-icons {
  font-size: 16px !important;
}
