.objectPathContainer {
    padding: 4px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 120px);
    grid-template-rows: repeat(auto-fill, 110px);
    grid-auto-flow: row;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

.top-right-button-toggled {
    position: absolute;
    right: -5px;
}

.right-corner {
    position: relative;
    top: 5px;
    right: 5px;
    float: right;
    border: none;
    outline: none;
}

.container {
    position: relative;
    border: 1px solid black;
    margin-bottom: 10px;
}

.borderless-container {
    position: relative;
    margin-bottom: 50px;
    border: none;
}

.segment {
    width: 120px;
    height: 110px;
    position: relative;
}

app-result-segment-preview-tile.marked {
    box-shadow: 4px 4px 2px grey;
}

.segment img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.segment .header {
    position: absolute;
    top: 0;
    height: 25px;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: black;
    opacity: 0.65;
    color: white;
}

.segment .footer {
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    height: 25px;
    z-index: 100;
    background-color: black;
    opacity: 0.65;
    color: white;
}

/* Styles the button in the tile footer. */

.header > button {
    max-height: 20px !important;
    max-width: 20px !important;
    line-height: 0 !important;
}

.header .mat-icon {
    max-height: 18px;
    max-width: 18px;
}

.header .material-icons {
    font-size: 16px !important;
}

/* Styles the button in the tile footer. */
.footer > button {
    max-height: 20px !important;
    max-width: 20px !important;
    line-height: 0 !important;
}

.footer .mat-icon {
    max-height: 18px;
    max-width: 18px;
}

.footer .material-icons {
    font-size: 16px !important;
}
