mat-dialog-content {
  display: grid;
  grid-template-columns: minmax(50%, 80%) min-content;
  grid-template-rows: 64px 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  max-height: 100%;
}

mat-toolbar {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

webcam-capture {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  justify-self: start;
  max-width: 100%;
}

skel-selector {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  justify-self: end;
  overflow-y: scroll;
  display: grid;
  grid-row-gap: 10px;
}
