<mat-dialog-content>
  <mat-toolbar color="primary">

    <button (click)="addNewSkeleton()" mat-icon-button>
      <mat-icon matTooltip="Adds a skeleton to.">add</mat-icon>
    </button>

    <button (click)="removeSelectedSkeleton()" [disabled]="this.selectedSkeleton == null" mat-icon-button>
      <mat-icon matTooltip="Removes currently selected skeleton.">remove</mat-icon>
    </button>

    <button (click)="copySelectedSkeleton()" [disabled]="this.selectedSkeleton == null" mat-icon-button>
      <mat-icon matTooltip="Copies the currently selected skeleton.">content_copy</mat-icon>
    </button>

    <span class="spacer-flex"></span>

    <button (click)="close()" mat-icon-button>
      <mat-icon matTooltip="Close window and save.">close</mat-icon>
    </button>
  </mat-toolbar>

  <div #canvas (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)" (mouseleave)="onMouseLeave($event)" (mousemove)="onMouseMove($event)" (click)="onClick($event)" (dblclick)="onDoubleClick($event)">
  </div>
</mat-dialog-content>
