mat-dialog-content {
  display: grid;
  grid-template-rows: 64px 1fr;
  grid-template-columns: 100%;
  grid-row-gap: 5px;
  min-height: 100%;
}

mat-toolbar {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

mat-horizontal-stepper {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.nextprev {
  display: flex;
  justify-content: space-between;
}
