.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-template-rows: repeat(auto-fill, 250px);
  grid-auto-flow: row;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.tile {
  box-shadow: 0.15em 0.15em 0.05em 0 rgba(0, 0, 0, 0.4); /* The top layer shadow */
  position: relative;
  background: url('../../../assets/images/loading.png') no-repeat center;
  height: 250px;
  width: 250px;
}

.tile .header {
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 7.5px;
  position: absolute;
  z-index: 100;
  opacity: 0.65;
  color: black;
}

.tile .body {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tile .footer {
  top: 200px;
  left: 0;
  right: 0;
  height: 50px;
  padding: 5px;
  position: absolute;
  z-index: 100;
  opacity: 0.65;
  color: black;
}


div.filename {
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.tags > button {
  max-height: 20px !important;
  max-width: 20px !important;
  line-height: 0 !important;
}

.tags .mat-icon {
  max-height: 18px;
  max-width: 18px;
}

.tags .material-icons {
  font-size: 16px !important;
}

div.score {
  max-width: 80px;
  font-size: 11px;
}

div.score p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

div.score mat-icon {
  font-size: 8px;
  width: 10px;
  height: 10px;
}
