.tile {
    width: 120px;
    height: 100px;
}

.tile img {
    width: 100%;
}

.tile .tile-footer {
    left: 0;
    right: 0;
    height: 15px;
    padding: 2px;
    position: absolute;
    z-index: 100;
    background-color: black;
    opacity: 0.65;
    color: white;
}