<md-toolbar color="primary">
    <button md-icon-button (click)="onRecordButtonPressed()"><md-icon [attr.class]="recorder.isRecording() ? 'material-icons rec-active' : 'material-icons'">fiber_manual_record</md-icon></button>
    <button md-icon-button (click)="onPlayButtonPressed()"><md-icon [attr.class]="recorder.isPlaying() ? 'material-icons play-active' : 'material-icons'">play_arrow</md-icon></button>

    <span class="spacer-tiny"></span>
    <button md-icon-button (click)="onLoadAudioPressed()"><md-icon>file_upload</md-icon></button>


    <span class="spacer-tiny"></span>
    <button md-icon-button (click)="onSaveButtonPressed()">
        <md-icon>save</md-icon>
    </button>

    <span class="spacer-flex"></span>

    <span class="label" style="color:white;">{{statustext}}</span>
</md-toolbar>

<record-audio #recorder></record-audio>
<input #audioloader type="file" hidden>