<div>
    <md-toolbar color="primary">
        <button class="app-icon-button" (click)="sidenav.toggle()">
            <i class="material-icons app-toolbar-menu">menu</i>
        </button>

        Vitrivr NEXT

        <span class="app-toolbar-filler"></span>
        <api-status><md-icon>av timer</md-icon></api-status>
    </md-toolbar>

    <md-sidenav-container #sidenavcontainer fullscreen style="margin-top:75px;">
        <md-sidenav #sidenav mode="side" opened="true" class="app-sidenav" style="border-right: 2px solid #cccccc;">
                <research></research>
        </md-sidenav>
        <gallery></gallery>
    </md-sidenav-container>
</div>