<div>
    <md-toolbar color="primary">
        Vitrivr NEXT

        <span class="app-toolbar-filler"></span>
        <api-status><md-icon>av timer</md-icon></api-status>
    </md-toolbar>

    <div>
        <md-progress-bar mode="query" [attr.color]="'accent'" *ngIf="loading"></md-progress-bar>
    </div>

    <md-sidenav-container #sidenavcontainer fullscreen style="margin-top:75px;">
        <md-sidenav #querysidenav mode="side" opened="true" align="start" class="vitrivr-sidenav left">
            <research></research>
        </md-sidenav>
        <div class="flexbar">
            <button md-raised-button (click)="querysidenav.toggle()" color="warn"><md-icon>search</md-icon></button>
            <button md-raised-button (click)="featuressidenav.toggle()" color="warn"><md-icon>storage</md-icon></button>
        </div>

        <gallery>

        </gallery>

        <md-sidenav #featuressidenav mode="side" opened="false" align="end" class="vitrivr-sidenav right">
            <features></features>
        </md-sidenav>
    </md-sidenav-container>
</div>