<div style="padding:10px;">

    <p class="background-prompt" *ngIf="mediaobjects.length == 0 && !loading">No results available. Please start a search...</p>

    <p class="background-prompt" *ngIf="loading"><md-spinner></md-spinner></p>

    <md-grid-list cols="4" gutterSize="15px" rowHeight="1:1">
        <md-grid-tile *ngFor="let mediaobject of mediaobjects" [attr.class]="'card-single'" (mouseover)="setFocus(mediaobject)">
            <md-grid-tile-header [style.display]="'flex'" [style.justify-content]="'space-between'">
                <div class="filename">{{mediaobject.mediaObject.name}}</div>
                <div class="score">
                    <p>{{mediaobject.scorePercentage}}&#37;</p>
                    <p><md-icon>filter_none</md-icon>&nbsp;{{mediaobject.numberOfSegments}}</p>
                </div>
            </md-grid-tile-header>

            <img src="{{_resolver.pathToThumbnailForSegment(mediaobject.mediaObject.mediatype, mediaobject.representativeSegment.mediaSegment)}}" [style.width]="'100%'" [style.height]="'100%'"/>

            <md-grid-tile-footer *ngIf="inFocus(mediaobject)" [style.display]="'flex'" [style.flex-direction]="'row-reverse'">
                <div><button md-icon-button (click)="onMltButtonClicked(mediaobject.representativeSegment)" mdTooltip="More-like-this"><md-icon>youtube_searched_for</md-icon></button></div>
                <div><button md-icon-button (click)="onDetailsButtonClicked(mediaobject.mediaObject)" mdTooltip="Show details"><md-icon>remove_red_eye</md-icon></button></div>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</div>