.card-stack  {
    box-shadow:
            0.0625em 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.2),
            0.5em 0.5em 0 -0.25em #e2e2e2,
            0.5em 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.2),
            1em 1em 0 -0.5em #d5d5d5,
            1em 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);
}

.card-single {
    box-shadow: 0.15em 0.15em 0.05em 0 rgba(0, 0, 0, 0.4); /* The top layer shadow */
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}