<h3>Preferences</h3>

<mat-list dense>

    <h2 mat-subheader>Cineast</h2>
    <mat-list-item>{{(cineastEndpoint|async)}}</mat-list-item>

    <h2 mat-subheader>Resources</h2>
    <mat-list-item>{{(hostObjects|async)}}</mat-list-item>
    <mat-list-item>{{(hostThumbnails|async)}}</mat-list-item>

    <div *ngIf="(dresEnabled | async)">
        <h2 mat-subheader>DRES</h2>
        <mat-list-item>Endpoint: {{(dresAddress|async)}}</mat-list-item>
        <mat-list-item><span [matBadge]="_dresStatusBadgeValue"
                             matBadgeOverlap="false">Status: {{dresStatus|async}}</span></mat-list-item>
    </div>


    <h2 mat-subheader>Query</h2>
    <mat-list-item>
        <mat-slide-toggle (change)="onUseInexactIndexChanged($event)" [checked]="(useInexactIndex|async)">Use inexact
            indexes
        </mat-slide-toggle>
    </mat-list-item>

    <h2 mat-subheader>Temporal mode</h2>
    <mat-list-item>
        <mat-form-field  fxLayoutAlign="center">
            <mat-select [value]="mode" (selectionChange)="onModeChanged($event.value)">
                <mat-option [value]="'SEQUENTIAL'" matTooltip="Sequential temporal scoring">sequential</mat-option>
                <mat-option [value]="'TEMPORAL_DISTANCE'" matTooltip="Time distance temporal scoring">temporal distance</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-list-item>

    <h2 mat-subheader>Max sequence length</h2>
    <mat-list-item>
        <mat-form-field  fxLayoutAlign="center">
            <input matInput type="number" value="30" [(ngModel)]="maxLength" style="text-align: right" matTooltip="Set the maximal length of a temporal sequence">
            <span matSuffix>sec.</span>
        </mat-form-field>
    </mat-list-item>
    <mat-list-item>
        <button (click)="onMaxLengthSaveClicked()" color="primary" mat-raised-button
                matTooltip="Change the maximal length of a temporal sequence">Set
        </button>
    </mat-list-item>

    <h2 mat-subheader>Reset settings</h2>
    <mat-list-item fxLayout="row" fxLayoutAlign="center">
        <button (click)="onResetButtonClicked()" color="warn" mat-raised-button
                matTooltip="Reset and reload settings from server">Reset
        </button>
    </mat-list-item>
</mat-list>

<h3>Logs</h3>
<mat-list dense>
    <h2 mat-subheader>Interaction log</h2>
    <mat-list-item fxLayout="row" fxLayoutAlign="center">
        <button (click)="onDownloadInteractionLog()" mat-raised-button matTooltip="Downdload Interaction Log">
            <mat-icon>cloud_download</mat-icon>
        </button>
        <button (click)="onClearInteractionLog()" color="warn" mat-raised-button matTooltip="Clear Interaction Log">
            <mat-icon>delete</mat-icon>
        </button>

    </mat-list-item>

    <h2 mat-subheader>Results log</h2>
    <mat-list-item fxLayout="row" fxLayoutAlign="center">
        <button (click)="onDownloadResultsLog()" mat-raised-button matTooltip="Download Result Log">
            <mat-icon>cloud_download</mat-icon>
        </button>
        <button (click)="onClearResultsLog()" color="warn" mat-raised-button matTooltip="Clear Result Log">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-list-item>

    <h2 mat-subheader>Submission log</h2>
    <mat-list-item fxLayout="row" fxLayoutAlign="center">
        <button (click)="onDownloadSubmissionLog()" mat-raised-button matTooltip="Download Submission Log">
            <mat-icon>cloud_download</mat-icon>
        </button>
        <button (click)="onClearSubmissionLog()" color="warn" mat-raised-button matTooltip="Clear Submission Log">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-list-item>
</mat-list>



