<img #previewimg class="previewimg" width="150" (click)="onViewerClicked()" (drop)="onViewerDropped($event)" (dragenter)="onViewerDragEnter($event)" (dragover)="onViewerDragOver($event)" (dragleave)="onViewerDragExit($event)"  mdTooltip="Click to change image..."/>

<div style="display:flex; align-items: center; justify-content: center;">
    <md-slide-toggle [(ngModel)]="mode3D" (change)="onModeToggled($event)">3D sketch mode</md-slide-toggle>
</div>

<div style="display:flex; align-items: center; justify-content: center;" *ngIf="!mode3D">
    <md-icon class="muted" mdTooltip="Rough sketch">brush</md-icon>
    <div class="toolbar-spacer-small"></div>
    <md-slider min="0" max="4" step="1" value="2" [(ngModel)]="sliderSetting" (change)="onSettingsChanged($event)"></md-slider>
    <div class="toolbar-spacer-small"></div>
    <md-icon class="muted"  mdTooltip="Example image">insert_photo</md-icon>
</div>
<hr class="fade" [style.margin-top]="'10px'" [style.margin-bottom]="'20px'"/>