<md-dialog-content>
    <md-toolbar color="primary">
        <md-icon mdTooltip="Pencil size">border_color</md-icon>
        <span class="spacer-tiny"></span>
        <md-slider min="1" max="100" step="1" [(ngModel)]="linesize" [style.min-width]="'100px'" (change)="onLineSizeChange()" tickInterval="auto"></md-slider>

        <span class="spacer-flex"></span>

        <button md-icon-button (click)="onFillCanvasClicked()" mdTooltip="Fill canvas">
            <md-icon>format_color_fill</md-icon>
        </button>

        <button md-icon-button (click)="onClearCanvasClicked()" mdTooltip="Clear canvas">
            <md-icon>clear</md-icon>
        </button>

        <span class="spacer-flex"></span>

        <button md-icon-button (click)="onLoadImage()"  mdTooltip="Load image">
            <md-icon>file_upload</md-icon>
        </button>

        <button md-icon-button (click)="close()">
            <md-icon>save</md-icon>
        </button>
    </md-toolbar>

    <div style="display: flex; margin-top: 5px;">
        <sketch-canvas #sketch [width]="300" [height]="300"></sketch-canvas>
        <input #imageloader type="file" (change)="onFileAvailable($event)" hidden>
        
        <span class="spacer-tiny"></span>

        <span [(colorPicker)]="color" (colorPickerChange)="onColorChange()" [cpToggle]="true" [cpDialogDisplay]="'inline'" [cpAlphaChannel]="'disabled'"></span>
    </div>
</md-dialog-content>