
mat-dialog-content {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 64px auto;

    grid-column-gap: 5px;
    grid-row-gap: 5px;

    max-height: 100%;
}


mat-toolbar {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

sketch-canvas {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    justify-self: start;
}

div.picker {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    justify-self: end;
}

mat-slider {
    width: 200px;
}