<mat-dialog-content>
    <mat-toolbar color="primary">
        <mat-icon matTooltip="Pencil size">border_color</mat-icon>
        <span class="spacer-tiny"></span>
        <mat-slider min="1" max="100" step="1" [(ngModel)]="linesize" [style.min-width]="'100px'" (change)="onLineSizeChange()" tickInterval="auto"></mat-slider>

        <span class="spacer-flex"></span>

        <button mat-icon-button (click)="onFillCanvasClicked()" matTooltip="Fill canvas with color.">
            <mat-icon>format_color_fill</mat-icon>
        </button>

        <button mat-icon-button (click)="onClearCanvasClicked()" matTooltip="Clear canvas.">
            <mat-icon>delete</mat-icon>
        </button>

        <span class="spacer-flex"></span>

        <button mat-icon-button (click)="onLoadImage()"  matTooltip="Load image from computer.">
            <mat-icon>file_upload</mat-icon>
        </button>

        <button mat-icon-button (click)="close()">
            <mat-icon matTooltip="Close window and save.">close</mat-icon>
        </button>
    </mat-toolbar>


    <sketch-canvas #sketch [width]="450" [height]="450"></sketch-canvas>
    <input #imageloader type="file" (change)="onFileAvailable($event)" hidden>

    <div class="picker">
        <span [style.display] = "'none'"
              [(colorPicker)]="color"
              (colorPickerChange)="onColorChange()"
              [cpDialogDisplay]="'inline'"
              [cpUseRootViewContainer]="true"
              [cpToggle]="true"
              [cpAlphaChannel]="'disabled'"
              [cpPresetColors]="preset">
        </span>
    </div>
</mat-dialog-content>