<h2 class="mat-h2">Query refinement</h2>

<div *ngIf="(features | async)">
    <h3 class="mat-h3">Weights</h3>
    <div *ngFor="let feature of features | async" class="slider-group" [style.color]="feature.color">
        <span class="label constrained">{{feature.name}}</span>
        <mat-slider [min]="0" [max]="100" value="{{feature.weight}}" (change)="onValueChanged(feature, $event)"></mat-slider>
        <span class="label constrained"> {{feature.weight}}%</span>
    </div>
    <weight-distribution *ngIf="features.length > 0" [features]="features"></weight-distribution>

    <h3 class="mat-h3">Filters</h3>

    <div>
        <h5 class="mat-h5">Display only objects of type:</h5>
        <section class="checkbox-group">
            <mat-checkbox *ngFor="let type of filter.mediatypeKeys" [name]="type" [checked]="filter.mediatypes.get(type)" (change)="onTypeFilterChanged(type,$event)">{{type}}</mat-checkbox>
        </section>
    </div>
    <br/>
    <div>
        <h5 class="mat-h5">Display only objects of color:</h5>
        <section class="checkbox-group">
            <mat-checkbox *ngFor="let color of filter.dominantKeys" [name]="color" [checked]="filter.mediatypes.get(color)" (change)="onColorFilterChanged(color,$event)">{{color}}</mat-checkbox>
        </section>
    </div>
    <br/>
    <div>
        <h5 class="mat-h5">Display only objects with score above:</h5>
        <span class="label constrained">Threshold</span>
        <mat-slider [min]="0" [max]="1.0" [step]="0.01" [(value)]="filter.threshold" (change)="onThresholdValueChanges($event)"></mat-slider>
        <span class="label constrained">{{filter.threshold * 100}}%</span>
    </div>
</div>

<div *ngIf="!(features | async)">
    <h3>Annotations</h3>
    <div style="" class="scrolling-checkbox-list">
        <mat-checkbox class="scrolling-checkbox-item">in kitchen</mat-checkbox>
        <mat-checkbox class="scrolling-checkbox-item">Using laptop at work</mat-checkbox>
        <mat-checkbox class="scrolling-checkbox-item">brushing teeth</mat-checkbox>
        <mat-checkbox class="scrolling-checkbox-item">in hotel room</mat-checkbox>
        <mat-checkbox class="scrolling-checkbox-item">relaxing in hotel room in Norway</mat-checkbox>
        <mat-checkbox class="scrolling-checkbox-item">drinking tea</mat-checkbox>
        <mat-checkbox class="scrolling-checkbox-item">in garden</mat-checkbox>
        <mat-checkbox class="scrolling-checkbox-item">overlooking airplane</mat-checkbox>
        <mat-checkbox class="scrolling-checkbox-item">travelling in bus </mat-checkbox>
        <mat-checkbox class="scrolling-checkbox-item">travelling in car</mat-checkbox>
        <mat-checkbox class="scrolling-checkbox-item">using laptop</mat-checkbox>
        <mat-checkbox class="scrolling-checkbox-item">overlooking sea and sunrise</mat-checkbox>
        <mat-checkbox class="scrolling-checkbox-item">eating food at work</mat-checkbox>
        <mat-checkbox class="scrolling-checkbox-item">checkin black baggage</mat-checkbox>
    </div>

    <h3>Steps</h3>
    <!-- Slider for Range -->
    <div class="options">
        <ng5-slider [(value)]="minValue" [(highValue)]="maxValue"
                    [options]="options"></ng5-slider>
    </div>

    <!-- Temporarily replaced with LSC paper-ready screenshot
    <p class="text-muted">No results available. Execute a query first and/or wait for incoming results.</p>
    -->
</div>
