.constrained {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.checkbox-group {
    display: grid;
    grid-template-columns: repeat(2, 50% [col-start]);
}

.checkbox-group mat-checkbox {
    width: 100px;
}

.scrolling-checkbox-list {
}

.scrolling-checkbox-item {
    padding-left: 10px;
    padding-right: 10px;
}
