<mat-toolbar color="primary">
  <img src="../assets/images/vitrivr_logo.png">

  <span class="spacer-flex"></span>

  <button (click)="querysidenav.toggle()" mat-icon-button matTooltip="Toggle query sidebar">
    <mat-icon>search</mat-icon>
  </button>

  <span class="spacer-xlarge"></span>

  <a *ngIf="!(config | GetConfigVariablePipe:competitionHost)" mat-icon-button matTooltip="Gallery view"
     routerLink="/gallery"
     routerLinkActive="active" skipLocationChange="true">
    <mat-icon>grid_on</mat-icon>
  </a>

  <span class="spacer-medium"></span>

  <a mat-icon-button matTooltip="Mini gallery view" routerLink="/mini-gallery" routerLinkActive="active"
     skipLocationChange="true" (click)="setActiveView(0)" [color]="activeView === 0 ? 'accent' : ''">
    <mat-icon>view_comfy</mat-icon>
  </a>

  <span class="spacer-medium"></span>

  <a mat-icon-button matTooltip="List view" routerLink="/list" routerLinkActive="active" skipLocationChange="true"
     (click)="setActiveView(1)" [color]="activeView === 1 ? 'accent' : ''">
    <mat-icon>list</mat-icon>
  </a>

  <span class="spacer-medium"></span>

  <a mat-icon-button matTooltip="Temporal Scoring view" routerLink="/temporal-list" routerLinkActive="active"
     skipLocationChange="true" (click)="setActiveView(2)" [color]="activeView === 2 ? 'accent' : ''">
    <mat-icon>access_time</mat-icon>
    <mat-icon>trending_flat</mat-icon>
  </a>

  <span class="spacer-xlarge"></span>

  <ng-container *ngIf="(config|GetConfigVariablePipe:queryHistory)>0">
    <button (click)="showHistory()" mat-icon-button matTooltip="Show query history.">
      <mat-icon>history</mat-icon>
    </button>
  </ng-container>

  <button (click)="settingssidenav.toggle()" mat-icon-button [matBadge]="settingsBadge"
          matTooltip="Toggle query refinement sidebar">
    <mat-icon>storage</mat-icon>
  </button>

  <ng-container *ngIf="config|GetConfigVariablePipe:textualInput">
    <span class="spacer-flex"></span>

    <div *ngIf="textualSubmissionOpen">
      <app-textual-submission smallFont="true"></app-textual-submission>
    </div>
    <button mat-icon-button
            (click)="textualSubmissionOpen = !textualSubmissionOpen"
            [matTooltip]="(textualSubmissionOpen ? 'Close' : 'Open')+' textual submission input'">
      <mat-icon>title</mat-icon>
      <mat-icon style="transform: translate(-12px, 12px);">{{ textualSubmissionOpen ? 'close' : 'near_me'}}</mat-icon>
    </button>
  </ng-container>
  <span class="spacer-flex"></span>

  <app-dres-timer></app-dres-timer>

  <span class="spacer-medium"></span>

  <app-api-status>
    <mat-icon>av timer</mat-icon>
  </app-api-status>
</mat-toolbar>

<div>
  <mat-progress-bar *ngIf="loading" [attr.color]="'accent'" mode="query"></mat-progress-bar>
</div>

<mat-sidenav-container fullscreen style="margin-top:75px;">
  <mat-sidenav #querysidenav [opened]="true" class="left" mode="side">
    <app-query-sidebar></app-query-sidebar>
  </mat-sidenav>

  <mat-sidenav-content id="scrollable">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

  <mat-sidenav #settingssidenav class="right" mode="side"
               position="end">
    <app-settings></app-settings>
  </mat-sidenav>
</mat-sidenav-container>
