<h3>Selected items</h3>

<div *ngIf="(selection | async).size == 0">
    <p class="text-muted">No items highlighted!</p>
</div>

<div *ngIf="(selection | async).size > 0">
    <button mat-raised-button color="warn"  (click)="onClearSelectionClicked()">Clear</button>
    <mat-list>
        <mat-list-item *ngFor="let current of (selection | async).entries()">
           {{current[0]}}
            <button mat-icon-button *ngFor="let tag of current[1].entries()" (click)="onTagButtonClicked(current[0],tag[0])">
                <mat-icon [style.color]="tag[0].colorForRelevance(1.0)">album</mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
</div>