<md-toolbar color="primary">
    <span [style.width]="'15px'"[style.height]="'15px'" [style.background-color]="'#FFFFFF'" [style.border-style]="color == '#FFFFFF' ? 'solid' : 'none'" [style.border-color]="'red'" (click)="onColorChange('#FFFFFF')"></span>

    <span class="spacer-tiny"></span>

    <span [style.width]="'15px'"[style.height]="'15px'" [style.background-color]="'#000000'" [style.border-style]="color == '#000000' ? 'solid' : 'none'" [style.border-color]="'red'" (click)="onColorChange('#000000')"></span>

    <span class="spacer-tiny"></span>

    <md-icon>border_color</md-icon>
    <span class="spacer-tiny"></span>

    <md-slider min="1" max="100" step="1" [(ngModel)]="linesize" [style.min-width]="'100px'" (change)="onLineSizeChange()" tickInterval="auto"></md-slider>
    <span class="spacer-flex"></span>

    <button md-icon-button (click)="onClearCanvasClicked()" mdTooltip="Clear canvas">
        <md-icon>clear</md-icon>
    </button>

    <button md-icon-button (click)="close()" mdTooltip="Save sketch">
        <md-icon>save</md-icon>
    </button>
</md-toolbar>

<sketch-canvas #sketch [width]="300" [height]="300"></sketch-canvas>

<input #imageloader type="file" hidden>