<md-toolbar color="primary">
    <button md-icon-button>
        <md-icon>rotate_left</md-icon>
    </button>

    <span class="spacer-flex"></span>

    <button md-icon-button (click)="onLoadFilePressed()">
        <md-icon>file_upload</md-icon>
    </button>

    <button md-icon-button (click)="onSavePressed()">
        <md-icon>save</md-icon>
    </button>
</md-toolbar>

<m3d-loader #m3dloader [width]="300" [height]="300" [interaction]="true"></m3d-loader>

<input #fileloader type="file" (change)="onFileAvailable($event)" hidden>