<!-- If sketch-mode is inactive: Display 3D model preview. -->
<m3d-loader #previewmodel *ngIf="!sketch" [width]="150" [height]="150" [interaction]="false" (click)="onModelViewerClicked()" (drop)="onModelViewerDropped()" (dragenter)="onModelViewerDragEnter($event)" (dragover)="onModelViewerDragOver($event)" (dragleave)="onModelViewerDragExit($event)" matTooltip="Click to change 3D model..."></m3d-loader>

<!-- If sketch-mode is active: Display preview-image. -->
<img #previewimg  *ngIf="sketch" class="previewimg" width="150" (click)="onImageViewerClicked()"  matTooltip="Click to open sketch pad..."/>

<div style="display:flex; align-items: center; justify-content: center;">
    <mat-slide-toggle [(ngModel)]="sketch" (change)="onModeToggled($event)">2D Sketch</mat-slide-toggle>
</div>

<div *ngIf="!sketch" style="display:flex; align-items: center; justify-content: center;">
    <mat-icon class="muted" matTooltip="Low resolution">looks_1</mat-icon>
    <div class="toolbar-spacer-small"></div>
    <mat-slider min="0" max="2" step="1" value="1" [(ngModel)]="sliderSetting" (change)="onSliderChanged()"></mat-slider>
    <div class="toolbar-spacer-small"></div>
    <mat-icon class="muted" matTooltip="High resolution">looks_3</mat-icon>
</div>

<hr class="fade" [style.margin-top]="'10px'" [style.margin-bottom]="'20px'"/>