<!-- If sketch-mode is inactive: Display 3D model preview. -->
<m3d-loader #previewmodel *ngIf="!sketch" [width]="150" [height]="150" [interaction]="false" (click)="onModelViewerClicked()" mdTooltip="Click to change 3D model..."></m3d-loader>

<!-- If sketch-mode is active: Display preview-image. -->
<img #previewimg  *ngIf="sketch" class="previewimg" width="150" (click)="onImageViewerClicked()"  mdTooltip="Click to open sketch pad..."/>

<div style="display:flex; align-items: center; justify-content: center;">
    <md-slide-toggle [(ngModel)]="sketch" (change)="onModeToggled($event)">2D Sketch</md-slide-toggle>
</div>

<div *ngIf="!sketch" style="display:flex; align-items: center; justify-content: center;">
    <md-icon class="muted" mdTooltip="Low resolution">looks_1</md-icon>
    <div class="toolbar-spacer-small"></div>
    <md-slider min="0" max="2" step="1" value="1" [(ngModel)]="sliderSetting" (change)="onSliderChanged($event)"></md-slider>
    <div class="toolbar-spacer-small"></div>
    <md-icon class="muted" mdTooltip="High resolution">looks_3</md-icon>
</div>

<hr class="fade" [style.margin-top]="'10px'" [style.margin-bottom]="'20px'"/>