<m3d-loader #preview [width]="150" [height]="150" [interaction]="false" (click)="onViewerClicked()" mdTooltip="Click to change 3D model..."></m3d-loader>
<div style="display:flex; align-items: center; justify-content: center;">
    <md-icon class="muted" mdTooltip="Low resolution">looks_1</md-icon>
    <div class="toolbar-spacer-small"></div>
    <md-slider min="0" max="2" step="1" value="1" [(ngModel)]="sliderSetting" (change)="onSliderChanged($event)"></md-slider>
    <div class="toolbar-spacer-small"></div>
    <md-icon class="muted" mdTooltip="High resolution">looks_3</md-icon>
</div>
<hr class="fade" [style.margin-top]="'10px'" [style.margin-bottom]="'20px'"/>