<md-toolbar color="primary">
    <md-icon [(colorPicker)]="color" [cpPosition]="'bottom'" [style.color]="color" [cpPositionOffset]="'50%'" [cpPositionRelativeToArrow]="true" (colorPickerChange)="onColorChange($event)">palette</md-icon>
    <span class="toolbar-spacer"></span>

    <md-icon>line_weight</md-icon>
    <span class="toolbar-spacer-small"></span>
    <md-slider min="1" max="100" step="1" value="1" [style.min-width]="'100px'" (change)="onLineSizeChange($event)" tickInterval="auto"></md-slider>
    <span class="toolbar-flex"></span>

    <button md-icon-button (click)="dialogRef.close(sketchpad.getImageBase64())">
        <md-icon>save</md-icon>
    </button>

    <button md-icon-button [mdMenuTriggerFor]="toolbarMenu">
        <md-icon>more_vert</md-icon>
    </button>

    <md-menu #toolbarMenu="mdMenu">
        <button md-menu-item (click)="onLoadImage($event)">
            <md-icon>file_upload</md-icon>
            <span>Load</span>
        </button>
        <button md-menu-item (click)="onFillCanvas($event)">
            <md-icon>format_color_fill</md-icon>
            <span>Fill canvas</span>
        </button>
        <button md-menu-item (click)="onClearCanvas($event)">
            <md-icon>clear</md-icon>
            <span>Clear canvas</span>
        </button>
    </md-menu>
</md-toolbar>
<sketch-canvas #sketch [width]="300" [height]="300"></sketch-canvas>
<input #imageloader type="file" hidden>