<h3>Query refinement</h3>

<div *ngIf="features.length > 0">
    <h4>Weights</h4>
    <div *ngFor="let feature of features" class="slider-group" [style.color]="feature.color">
        <span class="label constrained">{{feature.name}}</span>
        <md-slider min="0" max="100" value="{{feature.weight}}" (change)="onValueChanged(feature, $event)"></md-slider>
        <span class="label constrained"> {{feature.weight}}%</span>
    </div>
    <weight-distribution *ngIf="features.length > 0" [features]="features"></weight-distribution>
</div>

<div *ngIf="mediatypes.length > 0">
    <h4>Filters</h4>
    <section class="checkbox-group">
        <md-checkbox *ngFor="let type of mediatypes" name="{{type}}" checked="{{isActive(type)}}" labelPosition="before" (change)="onFilterChanged($event)">{{type}}</md-checkbox>
    </section>
</div>


<div *ngIf="mediatypes.length == 0 && features.length == 0">
    <p class="text-muted">No results available. Execute a query first and/or wait for incoming results.</p>
</div>