<mat-dialog-content>
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="onToggleFrontClicked()" [attr.class]="type == 'FOREGROUND' ? 'highlighted mat-icon-button' : 'mat-icon-button'" matTooltip="Foreground motion">
            <mat-icon>flip_to_front</mat-icon>
        </button>

        <button mat-icon-button (click)="onToggleBackClicked()" [attr.class]="type == 'BACKGROUND' ? 'highlighted mat-icon-button' : 'mat-icon-button'" matTooltip="Background motion">
            <mat-icon>flip_to_back</mat-icon>
        </button>

        <span class="spacer-flex"></span>

        <button mat-icon-button (click)="onClearCanvasClicked()" matTooltip="Clear canvas.">
            <mat-icon>delete</mat-icon>
        </button>

        <button mat-icon-button (click)="onSaveClicked()" matTooltip="Close window and save.">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>

    <div style="display: flex; margin-top: 5px;">
        <motion-sketch-canvas #sketch [width]="300" [height]="300"></motion-sketch-canvas>
    </div>
</mat-dialog-content>