<div *ngIf="_loading">
  <mat-progress-bar mode="buffer"></mat-progress-bar>
</div>

<h2>Information about all elements in the database:</h2>
<mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pagination($event)">
</mat-paginator>
<table mat-table [dataSource]="data" multiTemplateDataRows>
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}}</th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail" [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
        <div *ngIf="element === expandedElement">
          <table mat-table [dataSource]="detailData">
            <ng-container matColumnDef="{{detailCol}}" *ngFor="let detailCol of detailColumnsToDisplay">
              <th mat-header-cell *matHeaderCellDef> {{detailCol}}</th>
              <td mat-cell *matCellDef="let detailElement"> {{detailElement[detailCol]}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="detailColumnsToDisplay"></tr>
            <tr mat-row *matRowDef="let detailRow; columns: detailColumnsToDisplay;"></tr>
          </table>
        </div>
      </div>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" (click)="toggleRow(element)"></tr>
  <tr mat-row *matRowDef="let detailRow; columns: ['expandedDetail']" class="detail-row"></tr>
</table>