<div style="padding:10px;" *ngIf="mediaobject">
    <div [style.display]="'inline-flex'">
        <button md-icon-button mdTooltip="Go back..." (click)="onBackClick()"><md-icon>keyboard_backspace</md-icon></button>
        <h2 [style.margin-top]="'5px'">&nbsp;Media object: {{mediaobject.objectId}}</h2>
    </div>


    <div [style.display]="'flex'" [style.justify-content]="'flex-start'">
        <div>
            <div [style.max-height]="'400px'">
                <video #videoplayer *ngIf="mediaobject.mediatype == 'VIDEO'" src="{{_resolver.pathToObject(mediaobject)}}" controls [style.width]="'400px'"></video>
                <audio #audioplayer *ngIf="mediaobject.mediatype == 'AUDIO'" src="{{_resolver.pathToObject(mediaobject)}}" controls [style.width]="'400px'"width="400"></audio>
                <img #imageviewer *ngIf="mediaobject.mediatype == 'IMAGE'" src="{{_resolver.pathToObject(mediaobject)}}"/>
                <m3d-loader #modelviewer *ngIf="mediaobject.mediatype == 'MODEL3D'" src="{{_resolver.pathToObject(mediaobject)}}" [width]="200" [height]="200" [interaction]="true"> </m3d-loader>
            </div>

        </div>

        <div>
            <dl>
                <dt>ID</dt>
                <dd>{{mediaobject.objectId}}</dd>
                <dt>Filename</dt>
                <dd>{{mediaobject.name}}</dd>
                <dt>Path</dt>
                <dd><a href="{{_resolver.pathToObject(mediaobject)}}" download>{{mediaobject.path}}</a></dd>
                <dt>Mediatype</dt>
                <dd>{{mediaobject.mediatype}}</dd>
                <dt style="margin-top: 16px" *ngIf="mediaobject.mediatype == 'IMAGE'">Tools</dt>
                <dd *ngIf="mediaobject.mediatype == 'IMAGE'"><button md-icon-button (click)="onImageViewerClicked()" mdTooltip="Crop Image"><md-icon>crop</md-icon></button></dd>
            </dl>
        </div>
    </div>

    <md-tab-group>
        <md-tab label="Segments ({{segments.length}})">
            <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutGap="5px">
                <div *ngFor="let segment of segments" fxFlex="150px" class="tile" draggable="true" (dragstart)="onSegmentDrag($event, segment)">
                    <div class="tile-header" fxLayout fxLayoutAlign="space-between start">
                        <p [style.margin]="'0'">{{segment.mediaSegment.segmentId}} ({{segment.scorePercentage}}&#37;)</p>
                        <p [style.margin]="'0'" *ngIf="segment.endtime > 0">{{segment.starttime}}-{{segment.endtime}}</p>
                    </div>

                    <img class="tile-body" src="{{_resolver.pathToThumbnailForSegment(mediaobject.mediatype, segment.mediaSegment)}}" width="150px" height="150px">

                    <div class="tile-footer" fxLayout="row-reverse">
                        <button md-icon-button *ngIf="mediaobject.mediatype == 'VIDEO' || mediaobject.mediatype == 'AUDIO'" (click)="onPlayClick(segment)" mdTooltip="Strt playback"><md-icon>play_arrow</md-icon></button>
                        <button md-icon-button (click)="onMltClick(segment)" mdTooltip="More-like-this"><md-icon>youtube_searched_for</md-icon></button>
                    </div>
                </div>
            </div>
        </md-tab>
        <md-tab label="Metadata ({{metadata.length}})">
            <md-list>
                <md-list-item *ngFor="let metadatum of metadata">
                    <p md-line><strong>({{metadatum.domain}}) {{metadatum.key}}: </strong>{{metadatum.value}}</p>
                </md-list-item>
            </md-list>
        </md-tab>
    </md-tab-group>
</div>

<div style="padding:10px;" *ngIf="!mediaobject">
    <md-progress-spinner [attr.color]="primary" [mode]="indeterminate"></md-progress-spinner>
</div>
