<div style="padding:10px;" *ngIf="mediaobject">
    <div [style.display]="'inline-flex'">
        <button md-icon-button mdTooltip="Go back..." (click)="onBackClick()"><md-icon>keyboard_backspace</md-icon></button>
        <h2 [style.margin-top]="'5px'">&nbsp;Media object: {{mediaobject.objectId}}</h2>
    </div>


    <div [style.display]="'flex'" [style.justify-content]="'flex-start'">
        <div>
            <div [style.max-height]="'300px'">
                <video #videoplayer *ngIf="mediaobject.mediatype == 'VIDEO'" src="{{_resolver.pathToObject(mediaobject)}}" controls height="200"></video>
                <audio #audioplayer *ngIf="mediaobject.mediatype == 'AUDIO'" src="{{_resolver.pathToObject(mediaobject)}}" controls></audio>
                <img #imageviewer *ngIf="mediaobject.mediatype == 'IMAGE'" src="{{_resolver.pathToObject(mediaobject)}}" />
                <m3d-loader #modelviewer *ngIf="mediaobject.mediatype == 'MODEL3D'" src="{{_resolver.pathToObject(mediaobject)}}" [width]="200" [height]="200" [interaction]="true"> </m3d-loader>
            </div>
        </div>

        <div>
            <dl>
                <dt>ID</dt>
                <dd>{{mediaobject.objectId}}</dd>
                <dt>Filename</dt>
                <dd>{{mediaobject.name}}</dd>
                <dt>Path</dt>
                <dd><a href="{{_resolver.pathToObject(mediaobject)}}" download>{{mediaobject.path}}</a></dd>
                <dt>Mediatype</dt>
                <dd>{{mediaobject.mediatype}}</dd>
            </dl>
        </div>
    </div>

    <md-tab-group>
        <md-tab label="Segments ({{segments.length}})">
            <div class="flex-container" fxLayout="row" fxLayoutWrap="wrap" fxLayoutGap="5px">
                <div *ngFor="let segment of segments" class="flex-item" fxFlex="125px" (click)="onSegmentClick(segment.starttime)">
                    <img src="{{_resolver.pathToThumbnailForSegment(mediaobject.mediatype, segment.mediaSegment)}}" width="125px" height="125px">
                    <p>{{segment.mediaSegment.segmentId}} ({{segment.scorePercentage}})</p>
                    <p *ngIf="segment.endtime > 0">{{segment.endtime}}-{{segment.starttime}}</p>
                </div>
            </div>
        </md-tab>
        <md-tab label="Metadata ({{metadata.length}})">
            <md-list>
                <md-list-item *ngFor="let metadatum of metadata">
                    <p md-line><strong>({{metadatum.domain}}) {{metadatum.key}}: </strong>{{metadatum.value}}</p>
                </md-list-item>
            </md-list>
        </md-tab>
    </md-tab-group>
</div>

<div style="padding:10px;" *ngIf="!mediaobject">
    <md-progress-spinner [attr.color]="primary" [mode]="indeterminate"></md-progress-spinner>
</div>