.title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 600px;
}

.content {
    max-height: 600px;
    max-width: 500px;
    float:left;
}

#openseadragon {
    width: 600px;
    height: 600px;
}
