<div class="sketchpad" [style.max-width]="(width+2) + 'px'">
    <div class="toolbar">
        <span class="toolbar-item">
            <md-icon style="vertical-align:middle;">line_weight</md-icon>
            <md-slider min="0.5" max="100" step="0.5" [(ngModel)]="lineWidth" thumbLabel></md-slider>
        </span>
        <span class="toolbar-item">
            <md-icon style="vertical-align:middle;">format_paint</md-icon>
            <div class="palette">
                <button [style.background-color]="activeColor.value">&nbsp;</button>
                <div class="palette-content">
                    <div class="palette-field" *ngFor="let color of palette" [style.background-color]="color.value" (click)="setColor(color)">
                    </div>
                </div>
            </div>
        </span>
        <span class="toolbar-item">
            <button md-button (click)="loadImage()">
               <md-icon class="material-icons"><i class="material-icons">file_upload</i></md-icon> Load
            </button>
        </span>
        <span class="toolbar-item">
            <button md-button (click)="clearCanvas()">
                <md-icon class="material-icons">clear</md-icon> Clear
            </button>
        </span>
    </div>
    <canvas #sketch width='{{width}}' height='{{height}}' style="border: solid 1px;" ></canvas>
    <input #imageloader (change)="clear(['$event'])" type="file">
</div>