<mat-dialog-content>
    <mat-toolbar color="primary">
        <mat-icon matTooltip="Pencil size">border_color</mat-icon>
        <span class="spacer-tiny"></span>
        <mat-slider min="1" max="100" step="1" [(ngModel)]="linesize" [style.min-width]="'100px'" (change)="onLineSizeChange()" tickInterval="auto"></mat-slider>

        <span class="spacer-flex"></span>

        <button mat-icon-button (click)="onFillCanvasClicked()" matTooltip="Fill canvas with concept.">
            <mat-icon>format_color_fill</mat-icon>
        </button>

        <button mat-icon-button (click)="onClearCanvasClicked()" matTooltip="Clear canvas.">
            <mat-icon>delete</mat-icon>
        </button>


        <span class="spacer-flex"></span>

        <span class="spacer-flex"></span>

        <button mat-icon-button (click)="close()">
            <mat-icon matTooltip="Close window and save.">close</mat-icon>
        </button>
    </mat-toolbar>


    <div style="display: flex; margin-top: 5px;">
        <sketch-canvas #sketch [width]="300" [height]="300"></sketch-canvas>

        <div [style.width]="'300px'" [style.margin-left]="'10px'">
            <mat-form-field>
                <input matInput placeholder="Select a concept" aria-label="Select a concept" [matAutocomplete]="auto" [formControl]="formCtrl" >
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event.option.value)">
                    <mat-option *ngFor="let category of (categories | async)" [value]="category.name">
                        <span [style.color]="category.color"><strong>{{category.name}}</strong></span>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <ul class="picker">
                <li *ngFor="let category of (categories | async)"
                    [class.item]="true"
                    [class.selected]="category==selected"
                    [style.background-color]="(inUse(category) | async) ? category.color : '#000000'"
                    [style.color]="(inUse(category) | async) ? '#000000' : '#FFFFFF'"
                    matTooltip="{{category.name}}" (click)="onItemSelected(category)">
                    {{category.name}}
                </li>
            </ul>
        </div>




    </div>
</mat-dialog-content>