<div [style.display]="'flex'" [style.padding-left]="'10px'" [style.text-align]="'left'" [style.width]="'100%'"
     class="options">
    <!-- Attribute Dropdown -->
    <mat-select [(ngModel)]="attribute" class="options" required>
        <mat-option *ngFor="let attr of possibleAttributes | async"
                    [value]="attr">{{attr.displayName}}</mat-option>
    </mat-select>

    <!-- Remove query button-->
    <div style="width:10%;">
        <button (click)="onRemoveButtonClicked()" class="icon-button" matTooltip="Remove query term">
            <mat-icon>remove</mat-icon>
        </button>
    </div>

    <!-- If the current attribute is set, populate operator & value fields -->
    <ng-container *ngIf="(currentAttribute | async) as currentAttrAsync" class="options">

        <!-- Operator dropdown-->
        <mat-select [(ngModel)]="operatorValue" class="options" required>
            <mat-option *ngFor="let operator of currentAttrAsync.operators" [value]="operator" class="options"
                        style="width:100%">
                {{operator.toString()}}
            </mat-option>
        </mat-select>

        <!-- Freetext Field for Numbers & Text -->
        <mat-form-field *ngIf="attributeIsText(currentAttrAsync)" class="options">
            <input [(ngModel)]="inputValue" matInput placeholder="Search text">
        </mat-form-field>

        <!-- Freetext Field for Numbers & Text with Autocomplete Function! -->
        <!--<input type="text" *ngIf="attributeIsText(currentAttrAsync)" [(ngModel)]="inputValue"  matInput placeholder="Search text" [matAutocomplete]="auto">-->
        <!--<mat-autocomplete #auto="matAutocomplete">-->
            <!--<mat-option *ngFor="let option of currentAttrAsync.possibleValues" [value]="option">-->
                <!--{{option}}-->
            <!--</mat-option>-->
        <!--</mat-autocomplete>-->


        <!-- Dropdown for Options -->
        <mat-select *ngIf="isOption()" [(ngModel)]="inputValue" (ngModelChange)="getResults()" class="options" required>
            <mat-option *ngFor="let option of currentAttrAsync.options" [value]="option">
                {{option}}
            </mat-option>
        </mat-select>

        <!-- Date Selector for Date (not yet implemented) -->
        <mat-form-field *ngIf="currentAttrAsync.valueType.valueOf()==1" class="options textinput">
            <input [(ngModel)]="inputValue" matInput placeholder="This will be a date selector later">
        </mat-form-field>

        <!-- Slider for Range -->
        <div *ngIf="currentAttrAsync.valueType.valueOf()==4" class="options">
            <ngx-slider [(highValue)]="maxValue" [(value)]="minValue"
                        [options]="currentAttrAsync.sliderOptions"></ngx-slider>
            <app-bool-term-chart *ngIf="currentAttrAsync.data !== undefined" [data]="currentAttrAsync.data"></app-bool-term-chart>
        </div>

        <!-- Traditional Slider
        <mat-slider class="options" *ngIf="currentAttrAsync.valueType.valueOf()==4"
                    thumbLabel [displayWith]="formatLabel" tickInterval="auto" min="currentAttrAsync.range[0]" max="currentAttrAsync.range[1]" [(ngModel)]="inputValue">
        </mat-slider>
        -->


        <!-- Dropdown EXTENDEND BOOLEAN MODEL -->
        <mat-select *ngIf="_boolService.newModelObs | async" [(ngModel)]="extendedModel" class="options" required>
            <mat-option *ngFor="let weight of weights" [value]="weight">
                {{weight}}
            </mat-option>
        </mat-select>
        <p>Query results {{results}} out of {{totalResults}}</p>

    </ng-container>
</div>
<mat-divider></mat-divider>
<div style="padding-bottom:10px;"></div>
