<div [style.display]="'flex'" [style.padding-left]="'10px'" [style.text-align]="'left'" [style.width]="'100%'"
     class="options">
    <!-- Attribute Dropdown -->
    <mat-select [(ngModel)]="attribute" class="options" required>
        <mat-option *ngFor="let attr of possibleAttributes | async"
                    [value]="attr">{{attr.displayName}}</mat-option>
    </mat-select>

    <!-- Remove query button-->
    <div style="width:10%;">
        <button (click)="onRemoveButtonClicked()" class="icon-button" matTooltip="Remove query term">
            <mat-icon>remove</mat-icon>
        </button>
    </div>

    <!-- If the current attribute is set, populate operator & value fields -->
    <ng-container *ngIf="(currentAttribute | async) as currentAttrAsync" class="options">

        <!-- Operator dropdown-->
        <mat-select [(ngModel)]="operatorValue" class="options" required>
            <mat-option *ngFor="let operator of currentAttrAsync.operators" [value]="operator" class="options"
                        style="width:100%">
                {{operator.toString()}}
            </mat-option>
        </mat-select>

        <!-- Freetext Field for Numbers & Text -->
        <mat-form-field *ngIf="attributeIsText(currentAttrAsync)" class="options">
            <input [(ngModel)]="inputValue" matInput placeholder="Search text">
        </mat-form-field>

        <!-- Dropdown for Options -->
        <mat-select *ngIf="currentAttrAsync.valueType.valueOf()==0" [(ngModel)]="inputValue" class="options" required>
            <mat-option *ngFor="let option of currentAttrAsync.options" [value]="option">
                {{option}}
            </mat-option>
        </mat-select>

        <!-- Date Selector for Date (not yet implemented) -->
        <mat-form-field *ngIf="currentAttrAsync.valueType.valueOf()==1" class="options textinput">
            <input [(ngModel)]="inputValue" matInput placeholder="This will be a date selector later">
        </mat-form-field>

        <!-- Slider for Range -->
        <div *ngIf="currentAttrAsync.valueType.valueOf()==4" class="options">
            <ng5-slider [(highValue)]="currentAttrAsync.maxValue" [(value)]="currentAttrAsync.minValue"
                        [options]="currentAttrAsync.sliderOptions"></ng5-slider>
        </div>

        <!-- Traditional Slider
        <mat-slider class="options" *ngIf="currentAttrAsync.valueType.valueOf()==4"
                    thumbLabel [displayWith]="formatLabel" tickInterval="auto" min="currentAttrAsync.range[0]" max="currentAttrAsync.range[1]" [(ngModel)]="inputValue">
        </mat-slider>
        -->

    </ng-container>
</div>
<mat-divider></mat-divider>
<div style="padding-bottom:10px;"></div>
