/* This is a hack to remove this super annoying margin.
the .mat-card-header-text is automatically added and I don't know how to prevent this.
 */
:host ::ng-deep .mat-card-header-text {
    margin: 0 !important;
    width: 100% !important;
}

.wrapper {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-form-field {
    width:80%;
}

.text-item {
    width:40%;
    float:left;
}

.selection-item {
    width:70%;
    float:left;
}
