<vg-player (onPlayerReady)="onPlayerReady($event)" [style.display]="'block'" [style.width]="width + 'px'">

    <video #media *ngIf="mediaobject.mediatype === 'VIDEO'" [autoplay]="auto" [vgMedia]="media" id="videoplayer"
           preload="auto" src="{{mediaobject| ObjectPathPipe}}" style="object-fit: contain;"
           [style.width]="width + 'px'">
    </video>

    <audio #media *ngIf="mediaobject.mediatype === 'AUDIO'" [autoplay]="auto" [vgMedia]="media" id="audioplayer"
           preload="auto" src="{{mediaobject| ObjectPathPipe}}">
    </audio>

    <vg-controls [style.display]="'block'" [style.height]="'100px'" [style.position]="'relative'">
        <div [style.display]="'flex'">
            <vg-time-display vgFormat="mm:ss" vgProperty="current"></vg-time-display>

            <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                <vg-scrub-bar-cue-points *ngIf="(_track|async)"
                                         [vgCuePoints]="(_track|async).cues"></vg-scrub-bar-cue-points>
            </vg-scrub-bar>

            <vg-time-display vgFormat="mm:ss" vgProperty="total"></vg-time-display>
        </div>
        <div [style.align-content]="'space-between'" [style.display]="'flex'">
            <vg-play-pause></vg-play-pause>
            <vg-playback-button [playbackValues]="['0.5', '1.0', '2.0', '4.0', '8.0']"></vg-playback-button>

            <div class="spacer-flex"></div>

            <mat-icon (click)="seekToPrevious()" class="player-button"
                      matTooltip="Seek to the begin of the segment preceding the current position in time.">fast_rewind
            </mat-icon>
            <mat-icon (click)="seekToFocusPosition()" class="player-button"
                      matTooltip="Seek to position of focused segment.">
                replay
            </mat-icon>
            <mat-icon (click)="seekToNext()" class="player-button"
                      matTooltip="Seek to the begin of the segment succeeding this position in time.">fast_forward
            </mat-icon>

            <div class="spacer-flex"></div>

            <mat-icon (click)="onSubmitPressed()" *ngIf="(_vbs | competitionEnabledPipe |async)"
                      class="player-button" matTooltip="Submit current position to VBS API.">send
            </mat-icon>
            <vg-mute></vg-mute>

            <vg-fullscreen></vg-fullscreen>
        </div>
    </vg-controls>
</vg-player>



