<vg-player (onPlayerReady)="onPlayerReady($event)" [style.width]="width + 'px'">
    <vg-controls>
        <vg-play-pause></vg-play-pause>
        <vg-playback-button [playbackValues]="[0.5, 1.0, 2.0, 4.0, 8.0]"></vg-playback-button>

        <mat-icon (click)="seekToFocusPosition()" class="player-button" matTooltip="Seek to position of focused segment.">replay</mat-icon>

        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

        <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
            <vg-scrub-bar-cue-points *ngIf="(track|async)" [vgCuePoints]="(track|async).cues"></vg-scrub-bar-cue-points>
        </vg-scrub-bar>

        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

        <vg-mute></vg-mute>

        <vg-fullscreen></vg-fullscreen>

        <mat-icon *ngIf="(showVbsSubmitButton|async)" class="player-button" matTooltip="Submit current position to VBS API." (click)="onSubmitPressed()">send</mat-icon>

    </vg-controls>

    <video id="videoplayer" *ngIf="mediaobject.mediatype == 'VIDEO'" #media [vgMedia]="media" preload="auto" autoplay="{{auto}}" src="{{_resolver.pathToObjectForContainer(mediaobject)}}">
    </video>

    <audio id="audioplayer" *ngIf="mediaobject.mediatype == 'AUDIO'" #media [vgMedia]="media" preload="auto" autoplay="{{auto}}" src="{{_resolver.pathToObjectForContainer(mediaobject)}}">
    </audio>
</vg-player>



