<div style="text-align:center;">

    <div [style.margin-bottom]="'15px'">
        <button (click)="onSearchClicked()" (keydown.control.enter)="onSearchClicked()" [color]="'accent'"
                mat-raised-button
                style="width:100%">
            <mat-icon>search</mat-icon>
            Search
        </button>
    </div>

    <div [style.margin-bottom]="'15px'">
        <button (click)="onClearAllClicked()" [color]="'warn'" mat-raised-button style="width:100%">
            <mat-icon>clear</mat-icon>
            Clear all
        </button>
    </div>

    <app-query-container *ngFor="let container of containers"
                         [containerModel]=container
                         [inList]="containers"
                         [mode]="mode"
                         [listReOrder]="listReOrder">
    </app-query-container>

    <button (click)="addQueryTermContainer()" mat-fab matTooltip="Add query container">
        <mat-icon>add</mat-icon>
    </button>
</div>
