.skel-selector {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 10px;
    max-width: 100%;
}

.skel-selector > label {
    max-width: 200px;
    max-height: 320px;
    min-width: 100px;
    min-height: 100px;
    text-align: center;
    cursor: pointer;
}

.skel-selector > label > input {
    display: none;
}

.orientation-selector, .semantic-search-selector, .invalid-modes {
    margin: 0.5em 0;
}
