<mat-tab-group>
    <mat-tab label="Refinement" matTooltip="Query refinement">
        <ng-template mat-tab-label>
            <mat-icon>storage</mat-icon>
        </ng-template>
        <refinement></refinement>
    </mat-tab>

    <mat-tab label="Preferences" matTooltip="Preferences refinement">
        <ng-template mat-tab-label>
            <mat-icon>settings</mat-icon>
        </ng-template>
        <preferences></preferences>
    </mat-tab>

    <mat-tab label="Tags" matTooltip="Manage selections">
        <ng-template mat-tab-label>
            <mat-icon>album</mat-icon>
        </ng-template>
        <selection-management></selection-management>
    </mat-tab>
</mat-tab-group>